
    <section id="hero">
        <h1>Aprendé a Cocinar <br>con los Mejores</h1>
        <button onclick="window.location.href='/contacto'">CONTACTANOS</button>
    </section>

    <section id="somos">
        <div class="container">
            <div class="img-container"></div>
            <div class="texto">
                <h2>Somos <span class="color-acento">CocinaExpress!</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit veritatis a autem sed dignissimos commodi, voluptas incidunt voluptatibus cum, quia neque nulla consequatur laborum accusamus, perspiciatis odio nemo minus vel!</p>
            </div>
        </div>
    </section>